* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #101922;
    --primary-text: #ffffff;
    --secondary-text: #c0c0c0;
    --bg-article: #1E293B;
    --button: #1173D4;
    --hover: #0E253B;
}


body {
    font-family: system-ui;
    background-color: var(--background);
    color: var(--primary-text);
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}



header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;

    svg {
        width: 2rem;
        height: 2rem;
    }


}



#footer {
    text-align: center;
    padding: 16px;
    border-top: 1px solid black;
}

a {
    text-decoration: none;
    color: var(--secondary-text);


}


article {
    padding: 4rem;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 1);
    text-align: center;
    background: var(--bg-article);

    h3 {
        color: var(--primary-text);
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    p {
        color: var(--secondary-text);
        font-size: 1rem;

    }

    svg {
        width: 64px;
        height: 64px;
        border-radius: 100%;
        padding: 16px;
        background: #1B3859;
        color: #1464B5;
        margin-bottom: 5px;
    }
}







.hero {
    position: relative;
    width: 100%;
    min-height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        mask-image: linear-gradient(to bottom, rgba(16, 25, 34, 1) 5%, rgba(16, 25, 34, 0) 80%);

    }

    h1 {
        font-size: 4rem;


    }

    p {
        font-size: 1.2rem;
        color: var(--secondary-text)
    }

    form {
        width: 600px;
    }

    div {
        background: var(--bg-article);
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        border-radius: 10px;
        margin-top: 1rem;

        box-shadow: 5px 5px 10px 0.5px black;
    }
}

form input {
    background: transparent;
    border: 0px;
    flex: 1;
    padding: 1rm 1rem;
}

form input[type="text"] {
    color: #64748b;

}

button {
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--button);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    font-family: inherit;
    font-size: 1rem;
    white-space: nowrap;

    &:hover,
    &:focus {
        background-color: var(--hover);
        outline: 2px solid white;
        outline-offset: 2px;
    }

    &:active {
        transform: scale(0.90)
    }

    &:disabled {
        opacity: .5;
        pointer-events: none;
    }
}

main>section:nth-child(2) header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 5rem;

    h1 {
        color: var(--primary-text);
        margin-bottom: 1rem;
        font-size: 3rem;

    }

    p {
        color: var(--secondary-text);
        text-align: center;
    }
}

main>section:nth-child(2) footer {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
    gap: 16px;
    padding: 10rem
}

header>div:nth-child(3) a {
    background: #242627;
    border-radius: 5px;
    padding: 5px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}